<div class="container w-100">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Seja Bem vindes ao meu Blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
               
                Olá sou Edilane Santos, baiana, natural da cidade de Boninal, na Chapada Diamantina,
                atualmente residente na cidade de São Paulo, tenho 25 anos. Meu Primeiro interesse
                pela área de TI, surgiu após a criação de um curso de manutenção de computadores
                na minha cidade, onde tive meu primeiro contato com a área, um tempo depois me mudei
                para a cidade de São Paulo, onde iniciei os estudos no curso Técnico em Informatica,
                e o interesse pela área só cresceu, atualmente faço parte do Bootcamp da Generation,
                com o intuito de me tornar uma desenvolvedora Java JR.

            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mb-5 mt-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-info text-uppercase font-weight-bold"
        routerLink='/feed'>Ver o feed</button>
    </div>
</div>