.card[_ngcontent-jpq-c87] {
    background-color: #5356f1;
    border-radius: 30px;
    box-shadow: 0 0 33px 0 rgba(0,0,0,.75);
}
.mt-4 {
    margin-top:10% !important;
}
.border-0 {
    border: 0!important;
}
.mb-25{
    margin-bottom:25%;
}
